body {
    background-color: #f6f6f6;
}

#main {
    background-color: #FFF4D8;
    height: 400px;
    width: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 0px #8d8d8d;
}

#top-row {
    height: 290px;
}

#red-box {
    height: 290px;
    width: 290px;
}

#first-divider {
    height: 290px;
    width: 10px;
}

#top-left-white-box {
    height: 130px;
    width: 100px;
}

#second-divider {
    height: 20px;
    width: 100px;
}

#middle-left-white-box {
    height: 140px;
    width: 100px;
}

#middle-row-divider {
    height: 10px;
    width: 400px;
}

.red {
    background-color: #FF1500;
}

.blue {
    background-color: #004EB2;
}

.yellow {
    background-color: #ECAE13;
}

.black {
    background-color: #000000;
}

.right {
    float: right;
}
